body{
	background-image:url('../images/3.jpg');
	background-size: 100%;
	overflow-y: auto;
	font-family:Arial Black;
	font-weight:bold;
	font-style:normal;
}
 .linkImg{
  	width: 80px;
  	height: auto;
  }
.image {
	align:middle;
	width:auto;
	height:80px; 
     display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagePerfil{
	align:middle;
	width:auto;
	height:80px; 
    display: block;
    margin-left: auto;
    margin-right: auto;	
    padding:2px;
}

.botonOpcionesheader{
	font-size:16px;
	font-family:Arial Black;
	font-weight:bold;
	font-style:normal;
	position: relative;
	height: auto;
	width: auto;
	text-align: center;
	padding:10px;
}
#footer {
position:fixed;
bottom: 0px;
width:100%;
height: 1.5%;
opacity:0.85;
filter:alpha(opacity=85); /* For IE8 and earlier */
margin: 0 auto;
}
.contenidoFooter{
	text-align: center;
}
#footer:hover {
  height: 20%;  
 }
#headerMain{
	width: 100%;
}
.botonesOpciones{
	font-size:16px;
	font-family:Arial Black;
	font-weight:bold;
	font-style:normal;
}
.contenedor{
	position:absolute;
	width:100%;
	text-align: center;
	top:23%;
	height:67%;
}

.listas{
min-width:40%;
max-width: 40%;
height: 98%;
overflow: auto;
display: inline-block;
position:relative;
float: center;
}

.links{
min-width:59%;
height: 98%;
overflow: auto;
display: inline-block;
position: relative;
float: right;
}

 #progressbar .ui-progressbar-value {
    background-color: white;
  }
 
.list {
	-moz-box-shadow:inset 4px 5px 7px -1px #fce2c1;
	-webkit-box-shadow:inset 4px 5px 7px -1px #fce2c1;
	box-shadow:inset 4px 5px 7px -1px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:4px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	line-height:;
	height:100px;
	width:133px;
	text-decoration:none;
	text-align:center;
	vertical-align:text-top;
	text-shadow:1px 2px 0px #72a81b;
	margin:10px;
}
.list:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
.list:Active{
	position:relative;
	top:10px;
}
.listActive {
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background: #2E5481;
    -webkit-border-top-left-radius:25px;
	-moz-border-radius-topleft:25px;
	border-top-left-radius:25px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:25px;
	-moz-border-radius-bottomright:25px;
	border-bottom-right-radius:25px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:4px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	line-height:;
	height:100px;
	width:133px;
	text-decoration:none;
	text-align:center;
	vertical-align:text-top;
	
	margin:10px;
}

#popupPanelLeft-popup {
    right: 0 !important;
    left: auto !important;
	height: 85%;
	overflow:auto;
}
#popupPanelLeft {
    width: 250px;
	top:15%;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: 1px 0;
}
#popupPanelLeft .ui-btn {
    margin: 2em 15px;
}
#popupPanelRight-popup {
    right: auto !important;
    left:  0 !important;
	height: 85%;
	overflow:auto;
}
#popupPanelRight {
    width: 250px;
	top:15%;
    border: 1px solid #000;
    border-left: none;
    background: rgba(0,0,0,.5);
    margin: 1px 0;
}
#popupPanelRight .ui-btn {
    margin: 2em 15px;
}
#Links { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#Links tr { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #Links tr{ height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }


.buttonOfVotes{
	background: #269623;
}
.player {

margin: 1 auto;
display: inline-block;
}
.playerPlaceholder{
float: left;
display: inline-block;
}
@media screen and (max-width: 480px) {
   /* Aquí van las reglas CSS necesarias */
  .image{
  	width: 25px;
  	height: 25px;
  }
  .imagePerfil{
	align:middle;
	width:auto;
	height:30px; 
    display: block;
    margin-left: auto;
    margin-right: auto;	
    padding:1px;
}
  .linkImg{
  	width: 10px;
  	height: auto;
  }
  .basura{
  	width: 16px;
  	height: auto;
  }
  .platanosLists{
  	width: auto;
  	max-width: 40px;
  	height: auto;
  	max-height: 15px;  	
  }
  .candado{
  	width:auto;
  	height:10px;
  }
  .vertical {
position:fixed;
background-color: white;
width: 0px;
height: 0%;
left:0%;
top:0%;
}
.contenedor{
	position:absolute;
	width:100%;
	text-align: center;
	top:20%;
	height:auto;
}

.listas{
min-width:100%;
max-width: 100%;
height: auto;
overflow: auto;
display: inline-block;
position:relative;
float: center;
}

.links{
min-width:100%;
height: auto;
overflow: auto;
display: inline-block;
position: relative;
float: center;
}


.list {
	font-size:8px;
	height:50px;
	width:60px;
}
.listActive{
	font-size:8px;
	line-height:;
	height:50px;
	width:60px;
}
.perfil{
width: 5%;
height:5%;	
}
.contenidoFooter{
	text-align: left;
}
.player {
max-height: 90px;
}
.playerPlaceholder{
float: left;

}
.buttonOfVotes{
	height:10px;
	width:12px;
	
	background: #269623;
}
#footer{
	position:fixed;
	bottom: 0;
	height:12px;
}
#footer:hover {
  height: 32%;  
 }
.mundo{
	position: absolute;
	width:100%;
	background-image:none;
	background-color:#009933;
	height:1500px;
	overflow: auto;
}
.botonOpcionesheader{
	font-size:8px;
	height: auto;
	width: auto;
	max-width:25%;
	padding:3px;
}
.botonesOpciones{
	font-size:8px;
	font-family:Arial Black;
	font-weight:bold;
	font-style:normal;

}
#popupPanelRight{
	font-size:8px;
	 width: auto;
	top:15%;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: 1px 0;
}
#popupPanelLeft{
	font-size:8px;
	 width: auto;
	top:15%;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: 1px 0;
}
}
@media screen and (max-width: 800px) {
	
}
